.App {
  text-align: center;
  font-size:4rem;
  }
  button{
  font-size:2rem;
  border-radius: 5%;
  border: none;
  margin: 4%;
  padding: 1%;
  background-color:rgb(62, 100, 161);
  opacity:45%;
  }
  button:hover {
  font-size:2.1rem;
  opacity: 100%;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }